/*NAVBAR CSS*/

#beer-logo{
	height: 40px;
	width:40px;
	margin-top: 1px;
}

#name-logo{
	display: flex;
	flex-direction: row;
}

.bg-faded{
	background-color: #191919;
	background-image: url("https://raw.githubusercontent.com/diegocsandrim/sharp-test/master/output1.png");
}

.navbar, .navbar-toggleable-md, .navbar-light, .bg-faded{
	color:#3333ff;
}
.btn-outline-success{
	color: #ff9900;
	border-color:#ff9900;
}
.btn-outline-success:hover{
	color: black;
	background-color: #ff9900;
}
#nav-color{
	color:#ff9900;
}

.navbar-light .navbar-toggler-icon{
	color:#ff9900;
}

/*Carousel CSS*/
img.d-block, .img-fluid{
	width:50%;
	height:500px;
	margin-left: 25%;
}

.carousel-control-next, .carousel-control-prev{
	background-color: black;
	margin-left: 25%;
	margin-right: 25%;
}

#carousel-next-arrow{
	width:4%;
}

#carousel-prev-arrow{
	width:4%;
}
#carousel-slide-buttons{
	margin-left: 15%
}
#carouselExampleIndicators{
	margin-top: 4%;
}

/*FOOTER CSS*/

.last{
	background-color:#191919;
	padding:40px;
	margin-top: 10%;
}

/*MISC CSS*/
body{
	background-image: url("http://www.biantable.com/upload/728x0-website-backgrounds-wood-table-274540.jpg");
}

/*MEDIA QUERIES*/

@media (max-width: 991px){
	#beer-logo{
	height: 40px;
	width:40px;
	margin-top: 0px;
}

}

/* The Modal (background) */
